

<div class="ColContainer" style="margin-top: 20px">

<div class="LtCol" style="width:166px">
</div>	

<div class="RtCol" style="width:166px"> 

</div>
<div class="CtrCol" style="margin-left:220px; margin-right: 220px;"> 

<div class="InfoBox">
<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">

<span style="text-align:center;">
<h1>FIFA World Cup Game Times</h1>
<h3>Click to see when the next game<br>
is playing in your local time zone!</h3>
</span>
<div class="con1">
	<div class="left">
<b>July 2, 2010</b> <br>
<script type="text/javascript">
	myDate = new Date();
document.write('<a href="1?local=' + -myDate.getTimezoneOffset() + '&city[name_1]=+Johannesburg%2C+Gauteng%2C+South+Africa+(SAST)&city[name_2]=+Montevideo%2C+Montevideo%2C+Uruguay+(UYST)&city[name_3]=+Accra%2C+Greater+Accra%2C+Ghana+(GMT)&game_time=20.5"> <img src=\'/images/flags/uy.png\' style="border-style: none"/> Uruguay vs. <img src=\'/images/flags/gh.png\' style="border-style: none"/> Ghana </a> <br>');
document.write('<a href="1?local=' + -myDate.getTimezoneOffset() + '&city[name_1]=+Port+Elizabeth%2C+Eastern+Cape%2C+South+Africa+(SAST)&city[name_2]=+Amsterdam%2C+Noord-Holland%2C+Netherlands+(CET)&city[name_3]=+Brasília%2C+Distrito+Federal%2C+Brazil+(BRT)&game_time=16"> <img src=\'/images/flags/nl.png\' style="border-style: none"/> Netherlands vs. <img src=\'/images/flags/br.png\' style="border-style: none"/> Brazil </a>');
document.write('<br>');
document.write('<br>');
document.write('<b>July 3, 2010</b> <br>');
document.write('<a href="1?local=' + -myDate.getTimezoneOffset() + '&city[name_1]=+Cape+Town%2C+Western+Cape%2C+South+Africa+(SAST)&city[name_2]=+Buenos+Aires%2C+Distrito+Federal%2C+Argentina+(ART)&city[name_3]=+Berlin%2C+Berlin%2C+Germany+(CET)&game_time=16"> <img src=\'/images/flags/ar.png\' style="border-style: none"/> Argentina vs. <img src=\'/images/flags/de.png\' style="border-style: none"/> Germany </a> <br>');
document.write('<a href="1?local=' + -myDate.getTimezoneOffset() + '&city[name_1]=+Johannesburg%2C+Gauteng%2C+South+Africa+(SAST)&city[name_2]=+Asunción%2C+Central%2C+Paraguay+(PYST)&city[name_3]=Madrid%2C+Madrid%2C+Spain+(CET)&game_time=20.5"> <img src=\'/images/flags/py.png\' style="border-style: none"/> Paraguay vs. <img src=\'/images/flags/es.png\' style="border-style: none"/> Spain </a>');
</script>
	</div>
	<div class="right">
<img src="/images/2010_fifa_world_cup_logo-150x150.png">
	</div>
</div>

<br><br>

</div></div></div></div></div></div></div></div> 
</div>

</div>
</div>