

<!-- Move below this back into layout-->

<%= javascript_include_tag :defaults %>

<title>TimeDJ</title>

</head>

<body>

<div class="Title"/>
	<img src="/images/timedj_title.png">

</div>

</div>
<BR>


<!-- Move above this back into layout-->












<div class="Body">

<%= @response %>

</div>
